<h1>To do List</h1>
<section class="insert">
    <h3>Add Task</h3>
    <form action="/insert" method="post">
        <div class="input">
            <label for="title">Task</label>
            <input type="text" id="title" name="title">
        </div>
        <div class="input">
            <label for="details">Details</label>
            <input type="text" id="details" name="details">
        </div>
        <div class="input">
            <label for="toDoTask">Task To</label>
            <input type="text" id="toDoTask" name="toDoTask">
        </div>
        <div class="input">
            <label for="author">Author</label>
            <input type="text" id="author" name="author">
        </div>
        <div class="input">
            <label for="status">Status</label>
            <select name="status">
                <option>Select</option>
                <option value="Recently assigned">Recently assigned</option>
                <option value="Pending">Pending</option>
                <option value="Complete">Complete</option>
                <option value="Incomplete">Incomplete</option>
            </select>
        </div>
        <button type="submit">ADD</button>
    </form>
</section>
<section class="get">
    <h3>View All Tasks</h3>
    <a href="/get-data">LOAD TASKS</a>
    <div>
        {{# each items }}
            <article class="item">
                <div>Task: {{ this.title }}</div>
                <div>Details: {{ this.details }}</div>
                <div>Assigned to: {{ this.toDoTask }}</div>
                <div>Author: {{ this.author }}</div>
                <div>Status: {{ this.status }}</div>
                <div>ID: {{ this._id }}</div>
            </article>
        {{/each}}
    </div>
</section>
<section class="update">
    <h3>Update Task status</h3>
    <form action="/update" method="post">
        <div class="input">
            <label for="id">ID</label>
            <input type="text" id="id" name="id">
        </div>
        <div class="input">
            <label for="title">Task</label>
            <input type="text" id="title" name="title">
        </div>
        <div class="input">
            <label for="details">Details</label>
            <input type="text" id="details" name="details">
        </div>
        <div class="input">
            <label for="toDoTask">Assigned To</label>
            <input type="text" id="toDoTask" name="toDoTask">
        </div>
        <div class="input">
            <label for="author">Author</label>
            <input type="text" id="author" name="author">
        </div>
        <div class="input">
            <label for="status">Status</label>
            <select name="status">
                <option>Select</option>
                <option value="Recently assigned">Recently assigned</option>
                <option value="Pending">Pending</option>
                <option value="Complete">Complete</option>
                <option value="Incomplete">Incomplete</option>
            </select>
        </div>
        <button type="submit">UPDATE</button>
    </form>
</section>
</section>
<section class="delete">
    <h3>Delete Task</h3>
    <form action="/delete" method="post">
        <div class="input">
            <label for="id">ID</label>
            <input type="text" id="id" name="id">
        </div>
        <button type="submit">DELETE</button>
    </form>
</section>